main {
  display: grid;
  grid-template-columns: 150px 1fr 200px;
  min-height: 100vh;
  font-family: sans-serif;
}

aside {
  padding: 1rem;
  background-color: #c4c4c4;
}

.drawing {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.edit {
  padding: 1rem;
  display: grid;
  grid-tempalte-columns: 1fr;
  grid-gap: 1em;
  background-color: #c4c4c4;
}
