main {
  display: grid;
  grid-template-columns: 150px 1fr 200px;
  min-height: 100vh;
  font-family: sans-serif;
}

aside {
  padding: 1rem;
  background-color: #c4c4c4;
}

.drawing {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.edit {
  padding: 1rem;
}

.selection {
  position: absolute;
  z-index: 2;
}
